---
certificate_authority:
  certificate_directory:                /usr/local/share/certs
  short_name:                           'foobar'
  root:
    output_password:                    'supersecr1t'
    default_bits:                       4096
    common_name:                        '<Cyc> Root Certificate Authority'
    email_address:                      'reg@cyc.com'
    challenge_password:                 'hyperssecr1t'
  intermediate:
    output_password:                    'secr1t'
    default_bits:                       4096
    common_name:                        '<Cyc> Intermediate Certificate Authority'
    email_address:                      'reg@cyc.com'
    challenge_password:                 'notlesssecr1t'
  proxy:
    common_name:                        '{{ external_domain }}'
    organizational_unit:                '<Cyc>'
    default_bits:                       4096
    output_password:                    'still_secr1t'
    email_address:                      'info@cyc.com'
    challenge_password:                 'moarsecr1t'
  country:                              'US'
  state:                                'CA'
  locality:                             'Palo Alto'
  organization:                         'Cyc'
  organizational_unit:                  'Cyc Certificate Authority'
