---
production_jails:
  template:
    hostname:  'template'
    interface:      'lo1'
    ip:             '10.1.0.4'
    tag:            'template_'
    pkgs:
    - ca_root_nss
    - python27
    - sudo
    - tmux
    - vim-lite
    - zsh
  postgresql:
    hostname:  'db'
    interface: 'lo1'
    ip:        '10.1.0.5'
    tag:       'data'
    pkgs:
    - postgresql94-client
    - postgresql94-server
    - postgresql94-contrib
    pf:
      ports:   '5432'
      proto:   'tcp, udp'
  openldap:
    hostname:  'auth'
    interface: 'lo1'
    ip:        '10.1.0.6'
    tag:       'auth'
    pkgs:
    - openldap-server
    - openldap-client
    - ca_root_nss
    pf:
      ports:   '389, 636'
      proto:   'tcp'
  opensmtpd:
    hostname:  'mx'
    interface: 'lo1'
    ip:        '10.1.0.7'
    tag:       'mx'
    pkgs:
    - opensmtpd-devel
    - ca_root_nss
    pf:
      ports:   '587'
      proto:   'tcp'
  nginx_proxy:
    hostname:  'www'
    interface: 'lo1'
    ip:        '10.1.0.8'
    tag:       'nginx_proxy'
    pkgs:
    - ca_root_nss
    - nginx
    pf:
      ports:   '80,443'
      proto:   'tcp'
