# We are the client
client

# On Windows we'll need
# to use the tap driver
dev tun

# UDP is faster
proto udp

# Remoteserver
remote vpn.{{ external_domain }} 1194

# Try indefinitly to resolve
# the servername
resolv-retry infinite

# Persist over restarts
persist-key

# Do not bind at a specific port
nobind

# SSL certificates
ca {{ certificate_authority.short_name }}_ca.cert.pem
tls-auth ta.key 0

# Compress
comp-lzo

# Verbosity
verb 3

auth-user-pass
