[defaults]
nocows=1
ask_pass=true
ask_sudo_pass=true
private_key_file = /path/to/your_firm_name/.ssh/private_key
command_warnings = True
hostfile = ./hosts
ssh_args = -o ControlMaster=auto -o ControlPersist=6000s

[your_firm_name]
ssh_args = -o ControlMaster=auto -o ControlPersist=6000s
hostfile = ./hosts.your_firm_name
private_key_file = /path/to/your_firm_name/.ssh/private_key
#remote_port = 9022
remote_user = your_username
become_method = sudo

[ssh_connection]
pipelining = True
