# PostgreSQL Client Authentication Configuration File
# ===================================================
# XXX: Take the FreeBSD pkg_hba.conf.sample and adapt it to our needs.

# TYPE  DATABASE        USER            ADDRESS                 METHOD
# XXX: WE WILL REGRET THIS.
local	all	all	trust
# IPv4 local connections:
host    all             all             {{ production_jails.postgresql.ip }}/32            md5
host	all	all	{{ internal_netmask }}	md5
