#!/bin/sh -e
ipfw="ipfw -q add"
ipfw -qf flush
FWD_IF=xn0 
ipfw nat 9999 config if $FWD_IF ip 208.95.3.13
ipfw -qf flush


$ipfw 00100 allow ip from any to any via lo0
$ipfw 00100 allow ip from any to any via lo1
$ipfw 00110 allow ip from {{ internal_netmask }} to me via lo1
$ipfw 00111 allow ip from me to {{ internal_netmask }} via lo1
$ipfw 00112 allow ip from {{ internal_netmask }} to {{ internal_netmask }} via lo1
$ipfw 00100 allow ip from any to any via lo1
$ipfw 00200 deny ip from any to 127.0.0.0/8
$ipfw 00300 deny ip from 127.0.0.0/8 to any
$ipfw 00400 deny ip from any to ::1
$ipfw 00500 deny ip from ::1 to any
$ipfw 00600 allow ipv6-icmp from :: to ff02::/16
$ipfw 00700 allow ipv6-icmp from fe80::/10 to fe80::/10
$ipfw 00800 allow ipv6-icmp from fe80::/10 to ff02::/16
$ipfw 00900 allow ipv6-icmp from any to any ip6 icmp6types 1
$ipfw 01000 allow ipv6-icmp from any to any ip6 icmp6types 2,135,136

# xmjstuff
$ipfw 01099 check-state
$ipfw 01100 nat 9999 ip from any to any in via $FWD_IF
$ipfw 01101 nat 9999 ip from any to any out via $FWD_IF


$ipfw 01300 allow tcp from any to any out via $FWD_IF setup keep-state
$ipfw 01400 allow udp from me to any keep-state


$ipfw 01500 allow icmp from me to any keep-state
$ipfw 01600 allow ipv6-icmp from me to any keep-state
$ipfw 01700 allow udp from 0.0.0.0 68 to 255.255.255.255 dst-port 67 out
$ipfw 01800 allow udp from any 67 to me dst-port 68 in
$ipfw 01900 allow udp from any 67 to 255.255.255.255 dst-port 68 in
$ipfw 02000 allow udp from fe80::/10 to me dst-port 546 in
$ipfw 02100 allow icmp from any to any icmptypes 8
$ipfw 02200 allow ipv6-icmp from any to any ip6 icmp6types 128,129
$ipfw 02300 allow icmp from any to any icmptypes 3,4,11
$ipfw 02400 allow ipv6-icmp from any to any ip6 icmp6types 3
$ipfw 02500 allow tcp from any to me dst-port {{ external_available_ports }},{{ host_sshd_port }} in limit src-addr 2 # XXX: outwardly open ports
#$ipfw 02600 allow ip from 90.190.251.65 to me   # FIXME: PUT ANSIBLE CONTROLLER IP HERE
#$ipfw 02601 allow ip from me to 90.190.251.65   # FIXME: PUT ANSIBLE CONTROLLER IP HERE

# xmjstuff
$ipfw 05101 allow tcp from any to any dst-port 53 out via $FWD_IF setup keep-state
$ipfw 05101 allow udp from me to any dst-port 53 out keep-state
#$ipfw 05102 allow udp from me to any src-port 53 out
$ipfw 05103 allow udp from any 53 to any in via $FWD_IF limit src-addr 300
$ipfw 05200 allow { tcp or udp } from any to me established

$ipfw 65000 count ip from any to any
$ipfw 65100 deny { tcp or udp } from any to any dst-port 135-139,445 in
$ipfw 65200 deny { tcp or udp } from any to any dst-port 1026,1027 in
$ipfw 65300 deny { tcp or udp } from any to any dst-port 1433,1434 in
$ipfw 65400 deny ip from any to 255.255.255.255
$ipfw 65500 deny ip from any to 224.0.0.0/24 in
$ipfw 65500 deny udp from any to any dst-port 520 in
#$ipfw 65500 deny tcp from any {{ external_available_ports }} to any dst-port 1024-65535 in # XXX: outwardly open ports
$ipfw 65500 deny log logamount 500 ip from any to any
$ipfw 65535 deny log ip from any to any
