<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>jenkins@external_domain</adminAddress>
  <jenkinsUrl>http://{{ production_jails.jenkins.hostname }}.{{external_domain }}/jenkins/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
