# Entry 1: base dc.
dn: dc={{ external_domain.split('.') | join(',dc=') }}
dc: {{ external_domain.split('.') | first }}
description: {{ config.openldap.server_name }}
o: {{ certificate_authority.organization }}
objectclass: dcObject
objectclass: organization

# Entry 2: cn=users,dc=<your org>
dn: cn=users,dc={{ external_domain.split('.') | join(',dc=') }}
cn: users
gidnumber: 500
objectclass: posixGroup
objectclass: top

# Entry 3: ou=people,dc=<your org>
dn: ou=people,dc={{ external_domain.split('.') | join(',dc=') }}
objectclass: top
objectclass: organizationalUnit
ou: people

# Entry 4: cn=<your user>,ou=people,dc=<your org>
dn: cn={{ user.name}},ou=people,dc={{ external_domain.split('.') | join(',dc=') }}
cn: {{ user.name }}
gidnumber: 500
givenname: {{ user.name.split(' ')[0]  }}
homedirectory: /home/{{ user.handle }}
objectclass: inetOrgPerson
objectclass: posixAccount
objectclass: top
sn: {{ user.name.split(' ')[-1]  }}
uid: {{ user.handle }}
uidnumber: 1000
userpassword: {{ ldap_user_hash.stdout | replace('\n','') }}
mail: {{user.handle }}@{{ external_domain }}


# Entry 5: cn=Zabbix admin,ou=people,dc=<your_org>
dn: cn=Zabbix admin,ou=people,dc={{ external_domain.split('.') | join(',dc=') }}
cn:  Zabbix admin
gidnumber: 500
homedirectory: /home/Zabbix
loginshell: /bin/csh
objectclass: inetOrgPerson
objectclass: posixAccount
objectclass: top
sn: Zabbix admin
uid: Admin
uidnumber: 1001
userpassword: {{ ldap_zabbix_hash.stdout |replace('\n','') }}

# FIXME: Rethink this.
# Entry 6: cn=Gitlab Admin,ou=people,dc=<your_org>
dn: cn=Gitlab Admin,ou=people,dc=testing,dc=fractalcells,dc=com
cn: Gitlab Admin
gidnumber: 500
givenname: Charlie
homedirectory: /home/git
loginshell: /bin/sh
mail: root@{{ external_domain }}
objectclass: inetOrgPerson
objectclass: posixAccount
objectclass: top
sn: Root
uid: root
uidnumber: 1002
userpassword: {{ ldap_gitlab_root_hash.stdout |replace('\n','') }}
