<?php
// Zabbix GUI configuration file.
global $DB;

$DB["TYPE"]		= 'POSTGRESQL';
$DB["SERVER"]		= '{{ production_jails.postgresql.ip }}';
$DB["PORT"]		= '0';
$DB["DATABASE"]		= '{{ data.zabbix.dbname }}';
$DB["USER"]		= '{{ data.zabbix.dbuser }}';
$DB["PASSWORD"]		= '{{ data.zabbix.password }}';

$ZBX_SERVER		= '{{ production_jails.zabbix.ip }}';
$ZBX_SERVER_PORT	= '10051';
$ZBX_SERVER_NAME	= '';

$IMAGE_FORMAT_DEFAULT   = IMAGE_FORMAT_PNG;
?>

