production:
  adapter: postgresql
  database: {{ redmine_data.name }}
  host: {{ production_jails.postgresql.ip }}
  username: {{ redmine_data.user }}
  password: {{ redmine_data.password }}
  #encoding: utf8


