<!DOCTYPE html>
<html>
<head>
<title>fractalcells || pkg server</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<img src="http://fractalcells.com/logo.png" alt="fractalcells logo" style="width: 35em; margin: 0 auto">
<h1>Welcome to fractalcells!</h1>
<p>If you see this page, you're in the right place for fractalcells packages.</p>

<p>See the latest builds at
<a href="http://pkg.fractalcells.com/packages/">/packages/</a>.<br/><br/>
Find the latest buildlogs at
<a href="http://pkg.fractalcells.com/logs/">/logs/</a>.<br/><br/>
Commercial support is available at
<a href="http://fractalcells.com/">fractalcells.com</a>.</p>

<p><em>Thank you for using fractalcells.</em></p>
</body>
</html>
